* {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    color-scheme: dark;
}

header {
    width: 100%;
    background-color: #884444;
    font-size: 25px;
    left: 0;
    top: 0;
    text-align: center;
}

.header-div {
    margin-bottom: 2px;
    display: inline-block;
}

section {
    margin-bottom: 60px;
}

.section-landing {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.section-landing img {
    width: 200px;
    position: relative;
    left: 13rem;
    border-radius: 10%;
}

.footer-div {
    margin-bottom: 2px;
    display: inline-block;
}

footer {
    width: 100%;
    margin-bottom: 0;
    background-color: #884444;
    font-size: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}